  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class='container'>
    <%= link_to 'Friend App', root_path, class:'navbar-brand'%>
    <%= link_to 'About', home_about_path, class:'nav-link text-light' %>    
        <%# <a class='nav-link text-white' href='/home/index'>Posts</a> %>
    </div>    
  </nav>
